[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,==4.*"
django-auth-adfs = ">=1.10.0"
django-sslserver = ">=0.22"
requests = ">=2.28.1"
ms-identity-web = {git = "https://github.com/azure-samples/ms-identity-python-utilities"}
msal = "<2,>=1.18.0"

[dev-packages]
black = ">=22.3.0"
django-debug-toolbar = ">=3.4.0"
dvc = {version = ">=2.10.2", extras = ["azure"]}
flake8-isort = ">=4.1.1"
flake8 = ">=4.0.1"
coverage = ">=6.4.1"
mixer = ">=7.2.2"
pre-commit = ">=2.19.0"
pytest-cov = ">=3.0.0"
pytest-django = ">=4.5.2"
pytest = ">=7.1.2"

[requires]
python_version = "3.9"
