asgiref==3.6.0 ; python_version >= "3.11"
certifi==2022.12.7 ; python_version >= "3.11"
cffi==1.15.1 ; python_version >= "3.11"
charset-normalizer==2.0.12 ; python_version >= "3.11"
cryptography==40.0.1 ; python_version >= "3.11"
django==4.1.7 ; python_version >= "3.11"
idna==3.4 ; python_version >= "3.11"
msal==1.21.0 ; python_version >= "3.11"
pycparser==2.21 ; python_version >= "3.11"
pyjwt[crypto]==2.6.0 ; python_version >= "3.11"
requests==2.27.1 ; python_version >= "3.11"
sqlparse==0.4.3 ; python_version >= "3.11"
tzdata==2022.7 ; sys_platform == "win32" and python_version >= "3.11"
urllib3==1.26.15 ; python_version >= "3.11"
