asgiref==3.6.0 ; python_full_version >= "3.9.16"
certifi==2022.12.7 ; python_full_version >= "3.9.16"
cffi==1.15.1 ; python_full_version >= "3.9.16"
charset-normalizer==3.1.0 ; python_full_version >= "3.9.16"
cryptography==40.0.2 ; python_full_version >= "3.9.16"
django==4.2.1 ; python_full_version >= "3.9.16"
idna==3.4 ; python_full_version >= "3.9.16"
msal==1.22.0 ; python_full_version >= "3.9.16"
pycparser==2.21 ; python_full_version >= "3.9.16"
pyjwt[crypto]==2.7.0 ; python_full_version >= "3.9.16"
requests==2.30.0 ; python_full_version >= "3.9.16"
sqlparse==0.4.4 ; python_full_version >= "3.9.16"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version >= "3.9.16"
urllib3==2.0.2 ; python_full_version >= "3.9.16"
