asgiref==3.5.2; python_version >= "3.8"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; python_version >= "3.6"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
cryptography==37.0.4; python_version >= "3.6"
django==4.1; python_version >= "3.8"
idna==3.3; python_version >= "3.7" and python_version < "4"
msal==1.18.0
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyjwt==2.4.0; python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
urllib3==1.26.11; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
