<ul class="nav navbar-nav navbar-right">
    {% if request.identity_context_data.authenticated or user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'status' %}">Hello
            {{ request.identity_context_data.username }} or {{ user.first_name }}!</a>
    </li>
    <li>
        &nbsp; <a class="btn btn-warning" href="{% url 'azure_signin:logout' %}">Azure AD Sign-Out</a> &nbsp;
        <a class="btn btn-warning" href="{% url 'sign_out' %}">Sign Out (MS Id Web)</a>
    </li>
    {% else %}
    <li>
        <a class="btn btn-success" href="{% url 'azure_signin:login' %}">Azure AD Sign-In</a> &nbsp;
        <a class="btn btn-success" href="{% url 'sign_in' %}">Sign In (MS Id Web)</a>
    </li>
    {% endif %}
</ul>