{% extends './layout.html' %}

{% block banner_text %}
{% block title %}
Authentication: Use MSAL Python to sign users in to your own Azure Active Directory tenant
{% endblock %}
{% endblock %}

{% block body %}
<div class="card">
  <h5 class="card-header">
    {% block header%} {% endblock %}
  </h5>
  <div class="card-body">
    <p class="card-text">
      {% block text %} {% endblock %}
    </p>
  </div>

</div>
{% endblock %}

{% block footer %}

{% if not request.identity_context_data.authenticated and not user.is_authenticated %}
<div id="wrapper">
  <!-- the MS_ID_WEB key is configurable in the config file -->
  <div id="left">
    <svg id="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
      <path fill-rule="evenodd"
        d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM0 8a8 8 0 1116 0A8 8 0 010 8zm11.78-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z">
      </path>
    </svg>
  </div>
  <div id="right">
    Have you updated your app's <em>redirect URI</em> on <a target="_blank" href={{ aad_link }}>Azure Portal</a>?
    <br>
    <strong>redirect_uri</strong>: {{ redirect_uri_external_link }}
  </div>
</div>
{% endif %}


<div style="text-align: center;">
  <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif"
      border="0" alt="Powered by Django." title="Powered by Django." /></a>

  <br><br>


  <a href="https://docs.djangoproject.com/en/4.1/releases/4.1.7/"><img
      src="https://img.shields.io/badge/Django-4.1.7-green" alt="Django 4.1.7"></a>
  <a href="https://www.python.org/downloads/release/python-3112/"><img
      src="https://img.shields.io/badge/Python-3.11-green" alt="Python 3.11"></a>
  <a href="../../LICENSE"><img src="https://img.shields.io/badge/License-EUPL--1.2-blue.svg" alt="License EUPL 1.2"></a>

  <a href="https://github.com/psf/black"><img src="https://img.shields.io/badge/code%20style-black-000000.svg"
      alt="Code style black"></a>
  <a
    href="https://github.com/JV-conseil-Internet-Consulting/django-azure-active-directory-signin/actions/workflows/codeql-analysis.yml"><img
      src="https://github.com/JV-conseil-Internet-Consulting/django-azure-active-directory-signin/actions/workflows/codeql-analysis.yml/badge.svg"
      alt="CodeQL"></a>
  <a href="https://codecov.io/gh/JV-conseil-Internet-Consulting/django-azure-active-directory-signin"><img
      src="https://codecov.io/gh/JV-conseil-Internet-Consulting/django-azure-active-directory-signin/branch/main/graph/badge.svg?token=WLCTWKAPF6"
      alt="codecov"></a>
  <a href="https://pypi.org/project/django-azure-active-directory-signin/"><img
      src="https://img.shields.io/pypi/v/django-azure-active-directory-signin?color=green"
      alt="Django Azure Active Directory Sign-In 🔑 on PyPI"></a>

  <a href="https://github.com/sponsors/JV-conseil" title="Become a sponsor to JV-conseil"><img
      src="https://img.shields.io/static/v1?label=Sponsor&amp;message=%E2%9D%A4&amp;logo=GitHub&amp;color=%23fe8e86"
      alt="Become a sponsor to JV-conseil"></a>
  <a href="https://stackoverflow.com/users/2477854/jv-conseil" title="Follow JV conseil on StackOverflow"><img
      src="https://img.shields.io/stackexchange/stackoverflow/r/2477854" alt="Follow JV conseil on StackOverflow"></a>
  <a href="https://twitter.com/JVconseil" title="Follow JVconseil on Twitter"><img
      src="https://img.shields.io/twitter/follow/JVconseil.svg?style=social&amp;logo=twitter"
      alt="Follow JVconseil on Twitter"></a>
  <a href="https://fosstodon.org/@JVconseil" title="Follow JVconseil@fosstodon.org on Mastodon"><img
      src="https://img.shields.io/mastodon/follow/109896584320509054?domain=https%3A%2F%2Ffosstodon.org"
      alt="Follow JVconseil on Mastodon"></a>
  <a href="https://github.com/JV-conseil" title="Follow JV-conseil on GitHub"><img
      src="https://img.shields.io/github/followers/JV-conseil?label=JV-conseil&amp;style=social"
      alt="Follow JV conseil on GitHub"></a>


</div>
{% endblock %}